<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <h1>{{ page_title }}</h1><br>
        </div>
        <h3>Welcome {{ user.get_full_name }}</h3>
        {% if user.is_authenticated %}
            <a class="btn btn-danger ml-3" href="{% url 'logout'%}">Logout!</a>
        {% endif %}
        {% for hat in hat_list %}
            <ul>{{ hat.id }} {{ hat.title }}
            </ul>
        {% endfor %}
    </div>
</body>
</html>