<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .errorlist{
            color:red;
        }
    </style>
</head>
<body>
<div class="container w-50">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="border border-primary rounded p-5 justify-content-center">
            <div class="row mb-3 mr-5">
                <div class="col text-right" id="{{ form.user.id_for_label }}">{{ form.user.label }}</div>
                <div class="col text-left">{{ form.user }}{{ form.user.errors }}</div>
                <div class="w-100"></div>
            </div>
            <div class="row mb-3 mr-5">
                <div class="col text-right" id="{{ form.password.id_for_label }}">{{ form.password.label }}</div>
                <div class="col text-left">{{ form.password }}{{ form.password.errors }}</div>
                <div class="w-100 text-center">
                    {% if form.non_field_errors %}
                        <p>
                        {{ form.non_field_errors }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="center">
                    <input type="hidden" name="next_url" value="{{ next_url }}">
                    <input class="btn btn-primary" type="submit" value="Login!">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>